.block{
    background-color: #202529;
    opacity: .75;
    color: white;
    padding: 30px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    font-size: 1em;
    padding-bottom: 1%
}

.spacer {
    padding: 5%;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b9a88e;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #202529;
}

.active {
    background-color: #b9a88e;
}