.image {
    height: 100vh;
    width: 100vh;
    background-size: cover;
   
}

#display {
    background-image: url("https://images.pexels.com/photos/355887/pexels-photo-355887.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
   height: 550px;
    width: 700px;
    margin-top: 10%;
}

#title {
    font-size: 3em;
    font-family: Arial Black;
}

body {
    color: black;
}

.bold {
    font-weight: bold;
}

.info {
    /*font-size: 2.5em;*/
}

.info2 {
    font-size: 2em;
    text-transform: uppercase;
}

